/*------------------------
 nucleo-icons Web Font
License - nucleoapp.com/license/
-------------------------*/
@font-face {
  font-family: 'nucleo-icons';
  src: url("../nucleo-icons.eot");
  src: url("../fonts/nucleo-icons.eot") format("embedded-opentype"), url("../fonts/nucleo-icons.woff2") format("woff2"), url("../fonts/nucleo-icons.woff") format("woff"), url("../fonts/nucleo-icons.ttf") format("truetype"), url("../fonts/nucleo-icons.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

/*------------------------
	=custom scrollbar 
-------------------------*/
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 3px;
}

::-webkit-scrollbar { width: 11px; }

::-webkit-scrollbar-thumb {
	border-radius: 3px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
}


/*------------------------
	=general 
-------------------------*/
body,
.wrapper {
min-height: 100vh;
position: relative;
}

body, .main-panel {
overflow: hidden;
}

a {
  color: #888888;
}

a:hover,
a:focus {
  color: #03011C;
  text-decoration: none;
}

a:focus,
a:active {
  outline: 0;
}

p {
  font-size: 16px;
  line-height: 1.5;
}
/*------------------------
	 =nucleo-icon
-------------------------*/
.nc-icon {
  display: inline-block;
  font: normal normal normal 12px/1 'nucleo-icons';
  font-size: inherit;
  speak: none;
  text-transform: none;
  /* Better Font Rendering */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.nc-icon-fz-18 { font-size: 18px; }
.nc-icon-fz-24 { font-size: 24px; } 
.nc-icon-fz-48 { font-size: 48px; } 

.nc-chart::before {
content: "\ea21";
}
.nc-circle-09::before {
  content: "\ea24";
}
.nc-notes::before {
  content: "\ea3e";
}
.nc-caps-small::before {
  content: "\ea1b";
}
.nc-send::before {
  content: "\ea4b";
}
.nc-camera-20::before {
    content: "\ea1a";
}
.nc-refresh-02::before {
  content: "\ea47";
}
.nc-simple-add::before {
  content: "\ea4f";
}
.nc-spaceship::before {
  content: "\ea54";
}


/*------------------------
	  =transitions
-------------------------*/

.sidebar .nav a {
  -webkit-transition: all 150ms ease-in;
  -moz-transition: all 150ms ease-in;
  -o-transition: all 150ms ease-in;
  -ms-transition: all 150ms ease-in;
  transition: all 150ms ease-in;
}

/*------------------------
	wrapper
-------------------------*/
.wrapper {
  position: relative;
  top: 0;
  height: 100vh;
}


/*------------------------
	main-panel
-------------------------*/
.sidebar,
.main-panel {
  overflow: auto;
  max-height: 100%;
  height: 100%;
  -webkit-transition-property: top, bottom;
  transition-property: top, bottom;
  -webkit-transition-duration: .2s, .2s;
  transition-duration: .2s, .2s;
  -webkit-transition-timing-function: linear, linear;
  transition-timing-function: linear, linear;
  -webkit-overflow-scrolling: touch;
}

.main-panel {
  background: rgba(203, 203, 210, 0.15);
  position: relative;
  float: right;
  width: calc(100% - 260px);
  min-height: 100%;
}

.main-panel .navbar {
  margin-bottom: 0;
}

.main-panel>.content {
  padding: 30px 15px;
  min-height: calc(100% - 123px);
}


/*-------------------------------
	  =sidebar & navbar-collapse
-------------------------------*/
.sidebar,
body>.navbar-collapse {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 260px;
  display: block;
  z-index: 1;
  color: #fff;
  font-weight: 200;
  background-size: cover;
  background-position: center center;
}

.sidebar .sidebar-wrapper,
body>.navbar-collapse .sidebar-wrapper {
  position: relative;
  max-height: calc(100vh - 75px);
  min-height: 100%;
  overflow: auto;
  width: 260px;
  z-index: 4;
  padding-bottom: 123px;
}

.sidebar:after,
.sidebar:before,
body>.navbar-collapse:after,
body>.navbar-collapse:before {
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}

.sidebar[data-color="blueDark"]:after,
body>.navbar-collapse[data-color="blueDark"]:after {
  background: #03011C;
  background: -moz-linear-gradient(top, #03011C 0%, #03011C 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #03011C), color-stop(100%, #03011C));
  background: -webkit-linear-gradient(top, #03011C 0%, #03011C 100%);
  background: -o-linear-gradient(top, #03011C 0%, #03011C 100%);
  background: -ms-linear-gradient(top, #03011C 0%, #03011C 100%);
  background: linear-gradient(to bottom, #03011C 0%, #03011C 100%);
  background-size: 150% 150%;
  z-index: 3;
}


/*-------------------
	  =sidebar nav 
--------------------*/
.sidebar .logo {
  padding: 10px 15px 9px 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  position: relative;
  z-index: 4;
}

.sidebar .logo .simple-text {
  text-transform: uppercase;
  padding: 5px 0px;
  display: block;
  font-size: 20px;
  color: #FFFFFF;
  text-align: center;
  font-weight: 400;
  line-height: 30px;
}

.sidebar .nav {
  float: none;
  display: block;
}

.sidebar .nav li .nav-link {
  color: #FFFFFF;
  margin: 5px;
  padding: 0.5rem 0;
  border-radius: 4px;
  text-transform: uppercase;
  line-height: 24px;
  font-size: 10px;
  font-weight: 600;
}

.sidebar .nav li:hover .nav-link {
  background: rgba(255, 255, 255, 0.13);
  opacity: 1;
}

.sidebar .nav li.active .nav-link {
  color: #FFFFFF;
  opacity: 1;
  background: rgba(255, 255, 255, 0.23);
}

.sidebar .nav li.active:hover .nav-link {
  color: #FFFFFF;
  opacity: 1;
  background: rgba(255, 255, 255, 0.13);
}

.sidebar .nav li .nav-link i {
  margin-right: 15px;
  width: 30px;
  text-align: center;
  vertical-align: middle;
  float: left;
}

.sidebar .nav li .nav-link p {
  margin: 0;
  line-height: 25px;
  font-size: 10px;
  font-weight: 600;
  text-transform: uppercase;
  display: inline-flex;
}

/*  =sb-link-bottom  */
.sb-link-bottom {
  position: absolute;
  width: 100%;
}
.sb-link-bottom-1 {
  bottom: 10px;
}
.sb-link-bottom a {
  color: #FFFFFF !important;
}


/*------------------------
	  =main panel top navbar 
-------------------------*/
.navbar {
  border: 0;
  font-size: 16px;
  border-radius: 0;
  min-height: 50px;
  max-height: 61px;
  background-color: rgba(255, 255, 255, 0.96);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

/*-----------------------------
	  =main panel navbar-toggler 
------------------------------*/

.navbar .navbar-toggler {
  width: 37px;
  height: 27px;
  vertical-align: middle;
  outline: 0;
  cursor: pointer;
}
.navbar .navbar-toggler.navbar-toggler-right {
  padding-right: 0;
  top: 18px;
}

.navbar .navbar-toggler .navbar-toggler-bar {
  width: 3px;
  height: 3px;
  border-radius: 50%;
  margin: 0 auto;
}
.navbar .navbar-toggler .btn-span {
  display: block;
  position: relative;
  background-color: #888;
  width: 24px;
  height: 2px;
  border-radius: 2px;
  margin: 2px auto;
}




















/*------------------------
    =footer
-------------------------*/
.footer {
  background-color: #FFFFFF;
  border-top: 1px solid #e7e7e7;
}

.footer nav>ul a {
  color: #9A9A9A;
  display: block;
  margin-bottom: 3px;
}

.footer nav>ul a:hover,
.footer nav>ul a:focus {
  color: #777777;
}

.footer .copyright {
  color: #777777;
  padding: 10px 15px;
  margin: 10px 3px 0;
  line-height: 20px;
  font-size: 14px;
}

.footer nav>ul {
  font-size: 14px;
}

.footer:not(.footer-big) nav>ul li {
  margin-left: 20px;
  float: left;
}

.footer:not(.footer-big) nav>ul a {
  padding: 10px 0px;
  margin: 10px 10px 10px 0px;
}





























































/*------------------------
	media queries
-------------------------*/
@media (max-width: 991px) {
  
  .nav-open .main-panel {
    position: absolute;
    left: 0;
    -webkit-transform: translate3d(-250px, 0, 0);
    -moz-transform: translate3d(-250px, 0, 0);
    -o-transform: translate3d(-250px, 0, 0);
    -ms-transform: translate3d(-250px, 0, 0);
    transform: translate3d(-250px, 0, 0) !important;
    -webkit-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -moz-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -o-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -ms-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
  }
  .nav-open .sidebar {
    -webkit-transform: translate3d(10px, 0, 0);
    -moz-transform: translate3d(10px, 0, 0);
    -o-transform: translate3d(10px, 0, 0);
    -ms-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0) !important;
    -webkit-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -moz-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -o-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -ms-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
  }
  .main-panel {
    -webkit-transform: translate3d(0px, 0, 0);
    -moz-transform: translate3d(0px, 0, 0);
    -o-transform: translate3d(0px, 0, 0);
    -ms-transform: translate3d(0px, 0, 0);
    transform: translate3d(0px, 0, 0) !important;
    -webkit-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -moz-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -o-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -ms-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
  }


  .sidebar {
    right: 0 !important;
    left: auto;
    position: absolute;

    -webkit-transform: translate3d(262px, 0, 0);
    -moz-transform: translate3d(262px, 0, 0);
    -o-transform: translate3d(262px, 0, 0);
    -ms-transform: translate3d(262px, 0, 0);
    transform: translate3d(262px, 0, 0) !important;
    -webkit-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -moz-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -o-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -ms-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
  }
  
  .main-panel {
      width: 100%;
  }



  body {
      position: relative;
  }
  .wrapper {
      left: 0;
      background-color: white;
  }
  .navbar .container {
      left: 15px;
      width: 100%;
      position: relative;
      top: -10px;
  }
  .navbar-nav .nav-item {
      float: none;
      position: relative;
      display: block;
  }


  /*------------------------
      =navbar-collapse
  -------------------------*/
  body>.navbar-collapse {
    position: fixed;
    display: block;
    top: 0;
    height: 100%;
    right: 0;
    left: auto;
    z-index: 1032;
    visibility: visible;
    background-color: #999;
    overflow-y: visible;
    border-top: none;
    text-align: left;
    padding: 0;
    -webkit-transform: translate3d(260px, 0, 0);
    -moz-transform: translate3d(260px, 0, 0);
    -o-transform: translate3d(260px, 0, 0);
    -ms-transform: translate3d(260px, 0, 0);
    transform: translate3d(260px, 0, 0);
    -webkit-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -moz-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -o-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -ms-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
    transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
  }
  /*
  body>.navbar-collapse>div {
    position: relative;
    z-index: 4;
    overflow-y: scroll;
    height: calc(100vh - 75px);
    width: 100%;
  }*/
  body>.navbar-collapse::before {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: #282828;
    display: block;
    content: "";
    z-index: 1;
  }/*
  body>.navbar-collapse .logo {
    position: relative;
    z-index: 4;
  }
  body>.navbar-collapse .nav li>a {
    padding: 10px 15px;
  }*/
}


@media (min-width: 992px) {
  .navbar-expand-lg .container-fluid p { width: 220px; }

  .footer {  height: 60px; }
  .footer .copyright {  float: right;  }
  .footer:not(.footer-big) nav>ul li:first-child { margin-left: 0; }

}