

/**/
.navbar .navbar-toggler.navbar-toggler-left {
  position: relative;
  left: 0;
  padding-left: 0;
}


/*----------------------------
	  =navbar-toggler main panel
-----------------------------*/
/**/
.navbar .navbar-toggler.navbar-toggler-right {
    padding-right: 0;
    top: 18px;
}





/*------------------------
	media queries
-------------------------*/
@media (max-width: 991px) {
  .sidebar {
      right: 0 !important;
      left: auto;
      position: absolute;

      -webkit-transform: translate3d(262px, 0, 0);
      -moz-transform: translate3d(262px, 0, 0);
      -o-transform: translate3d(262px, 0, 0);
      -ms-transform: translate3d(262px, 0, 0);
      transform: translate3d(262px, 0, 0) !important;
      -webkit-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
      -moz-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
      -o-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
      -ms-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
      transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
  }
  
  .main-panel {
      -webkit-transform: translate3d(0px, 0, 0);
      -moz-transform: translate3d(0px, 0, 0);
      -o-transform: translate3d(0px, 0, 0);
      -ms-transform: translate3d(0px, 0, 0);
      transform: translate3d(0px, 0, 0) !important;
      -webkit-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
      -moz-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
      -o-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
      -ms-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
      transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
  }

  .navbar-header .navbar-toggle {
      margin: 10px 15px 10px 0;
      width: 40px;
      height: 40px;
  }

  .navbar-nav {
      margin: 1px 0;
  }



/************************************************************
************************************************************/


  .navbar-fixed-top {
      -webkit-backface-visibility: hidden;
  }



  /*********************************************************
  **********************************************************/



  /*.navbar-toggle:hover,
  .navbar-toggle:focus {
      background-color: transparent !important;
  }
  
  .btn.dropdown-toggle {
      margin-bottom: 0;
  }*/

  .navbar-collapse.collapse {
      height: 100% !important;
  }
  .navbar-collapse.collapse.in {
      display: block;
  }
  .navbar-header .collapse,
  .navbar-toggle {
      display: block !important;
  }
  .navbar-header {
      float: none;
  }
  
  .navbar-collapse .navbar-nav p {
      line-height: 40px !important;
      margin: 0;
  }
  .navbar-collapse [class^="pe-7s-"] {
      float: left;
      font-size: 20px;
      margin-right: 10px;
  }
}



